
@{
    ViewBag.Title = "Login";
    var controller = "FunctionList";
    var page = "FunctionHead";
    Layout = null;
}


<!-- Font Awesome -->
<link rel="stylesheet" href="../vendor/fontawesome-free/css/all.css">
<!-- Bootstrap core CSS -->
<link href="../vendor/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="../vendor/css/mdb.min.css" rel="stylesheet">
<!-- Your custom styles (optional) -->
<link href="../vendor/css/style.min.css" rel="stylesheet">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../vendor/login_css/util.css">
<link rel="stylesheet" type="text/css" href="../vendor/login_css/main.css">

@*<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>*@

<style>
    #content {
        height: 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(52, 74, 81, 0.6), rgba(12, 97, 33, 0.8));
    }
</style>


<div id="VuePage" class="limiter">
    <div id="content" class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-title  font-weight-bold" style="">
                    Dashboard
                </span>
                <span class="login100-form-title" style="color:#5b4c4c">
                    Sign in
                </span>
                <span class="login100-form-title p-b-48">
                    <i class="zmdi zmdi-font"></i>
                </span>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="email" placeholder="AD account" v-model="form.UserID" required autofocus>
                    @*<span class="focus-input100" data-placeholder="工號"></span>*@
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <input id="inputPassword" class="input100" type="password" name="pass" placeholder="AD password" v-model="form.UserPwd" required autofocus>
                    @*<span class="focus-input100" data-placeholder="密碼"></span>*@
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button id="btn_login" class="login100-form-btn" type="button" v-on:click="DoLogin()">
                            Login
                        </button>
                    </div>
                </div>

                <div class="text-center p-t-115">
                    <span class="txt1">
                        Copyright &copy; @DateTime.Now.Year &mdash; CTRD5940
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- JQuery -->
<script type="text/javascript" src="../vendor/js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="../vendor/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../vendor/js/bootstrap.min.js"></script>


@Scripts.Render("~/Scripts/vue.js")


<script>
    window.addEventListener('DOMContentLoaded', event => {
        window.history.forward();
    });

    var VuePage = new Vue({
        el: '#VuePage'
        , data: function () {
            var data = {
                form: {}
            };
            return data;
        }
        , methods: {
            // 執行登入按鈕
            DoLogin: function () {
                var self = this;

                if (!self.form.UserID) {
                    alert("請輸入AD帳號 !");
                    return;
                }
                if (!self.form.UserPwd) {
                    alert("請輸入密碼 !");
                    return;
                }

                // 組合表單資料
                var postData = {};
                postData['UserID'] = self.form.UserID;
                postData['UserPwd'] = self.form.UserPwd;

                //console.log("postData:");
                //console.log(postData);

                // 使用 jQuery Ajax 傳送至後端
                $.ajax({
                    url:'@Url.Content("~/Login/Login")',
                    method:'POST',
                    dataType:'json',
                    data: { inModel: postData },
                    success: function (datas) {
                        if (datas.ErrMsg) {
                            alert(datas.ErrMsg);
                            return;
                        }
                        console.log('重新導向:@controller/@page' );
                        location.href = '@Url.Content("~/"+ controller+"/" + page)';
                    },
                    error: function (err) {
                        $('#ErrorMsg').html(err.responseText);
                        $('#ErrorAlert').modal('toggle');
                    },
                });
            }
        }
    })

    // Get the input field
    var input = document.getElementById("inputPassword");

    // Execute a function when the user presses a key on the keyboard
    input.addEventListener("keypress", function (event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("btn_login").click();
        }
    });
</script>
