
@{
    ViewBag.Title = "HwBinListTable";
}

<style>

    th {
        background-color: #C4D6B0;
    }

    td {
        background-color: #F4FFF8
    }

    th.text-center.align-top {
        vertical-align: top; /* 确保单元格内容垂直置顶 */
    }
    th .multiselect {
        max-height: 30px; /* 设置最大高度 */
        overflow-y: auto; /* 允许垂直滚动 */
    }
    th .multiselect-container {
        max-height: 80px; /* 设置最大高度 */
        overflow-y: auto; /* 如果内容超出，则启用垂直滚动 */
    }

</style>

<!-- 查詢結果表格 -->
<div class="card shadow mb-3">
    <!-- DataTales 表頭 -->
    <div class="card-header ">
        <div class="row  justify-content-center ">
            <div class="col-auto mb-2" style="height:10px">
                <h5 class="m-0 font-weight-bold text-primary ">HW bin list</h5>
            </div>
        </div>
    </div>
    <!-- DataTales 表內容 -->
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable_hw_bin_list" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtBD" name="select_hwBinDtBD_0" style="direction: ltr;text-align: left;" class=" form-control " onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            BD
                        </th>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtTester" name="select_hwBinDtTester_1" style="direction: ltr;text-align: left;" class=" form-control" onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            Tester
                        </th>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtLot" name="select_hwBinDtLot_2" style="direction: ltr;text-align: left;" class=" form-control" onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            Lot ID
                        </th>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtDate" name="select_hwBinDtDate_3" style="direction: ltr;text-align: left;" class=" form-control" onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            Date
                        </th>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtTestMode" name="select_hwBinDtTestMode_4"style="direction: ltr;text-align: left;" class=" form-control" onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            Test mode
                        </th>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtYield" name="select_hwBinDtYield_5" style="direction: ltr;text-align: left;" class=" form-control" onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            Yield
                        </th>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtMoveIn" name="select_hwBinDtMoveIn_6" style="direction: ltr;text-align: left;" class=" form-control" onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            Move in
                        </th>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtPass" name="select_hwBinDtPass_7" style="direction: ltr;text-align: left;" class=" form-control" onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            Pass
                        </th>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtOpen" name="select_hwBinDtOpen_8" style="direction: ltr;text-align: left;" class=" form-control" onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            Open
                        </th>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtShort" name="select_hwBinDtShort_9" style="direction: ltr;text-align: left;" class=" form-control" onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            Short
                        </th>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtLeak" name="select_hwBinDtLeak_10" style="direction: ltr;text-align: left;" class=" form-control" onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            Leak
                        </th>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtFunction" name="select_hwBinDtFunction_11" style="direction: ltr;text-align: left;" class=" form-control" onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            Function
                        </th>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtFailPpm" name="select_hwBinDtFailPpm_12" style="direction: ltr;text-align: left;" class=" form-control" onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            Fail PPM
                        </th>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtOpenPpm" name="select_hwBinDtOpenPpm_13" style="direction: ltr;text-align: left;" class=" form-control" onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            Open PPM
                        </th>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtShortPpm" name="select_hwBinDtShortPpm_14" style="direction: ltr;text-align: left;" class=" form-control" onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            Short PPM
                        </th>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtLeakPpm" name="select_hwBinDtLeakPpm_15" style="direction: ltr;text-align: left;" class=" form-control" onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            Leak PPM
                        </th>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtFunctionPpm" name="select_hwBinDtFunctionPpm_16" style="direction: ltr;text-align: left;" class=" form-control" onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            Function PPM
                        </th>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtTop1Fail" name="select_hwBinDtTop1Fail_17" style="direction: ltr;text-align: left;" class=" form-control" onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            Top1 Fail Item
                        </th>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtTop2Fail" name="select_hwBinDtTop2Fail_18" style="direction: ltr;text-align: left;" class=" form-control" onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            Top2 Fail Item
                        </th>
                        <th class="text-center align-top">
                            @*<select multiple="multiple" id="select_hwBinDtTop3Fail" name="select_hwBinDtTop3Fail_19" style="direction: ltr;text-align: left;" class=" form-control" onchange="onChangeHwBinDtSelect(this)"></select>
                            <br />*@
                            Top3 Fail Item
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>



<script>

    function HwBinTableInit() {

        // dataTable_hw_bin_list 表格初始化
        $('#dataTable_hw_bin_list').DataTable({
            //"searching": false,
            "scrollY": 500, // 垂直滾動，設置高度
            "scrollX": true, // 水平滾動
            //fixedColumns: {
            //    leftColumns: 3
            //},
            "paging": false,
            "lengthChange": false,
            "autoWidth": false,
            "responsive": true,
            "processing": true,
            "order": [[3, "desc"]],
            "lengthMenu": [
                [5, 10, 25, -1],
                [5, 10, 25, 'All'],
            ],
            //"ordering": false, // 禁用排序
            //"info": false,
            "scrollCollapse": true,
            "pageLength": 5,
            //"bLengthChange": false,
            //stateSave: true, // 表格狀態儲存:更新頁面時，表格顯示頁不變
            //"initComplete": function (settings, json) {
                //$('.dataTables_scrollBody').css('overflow', 'visible'); // 使得內容部分的下拉選單不會被遮住
                //$('.dataTables_scrollHead').css('overflow', 'visible'); // 使得標頭部分的下拉選單不會被遮住
            //},
            ajax: {
                "url": "/MongoAPI/GetHwBinListTable", // 您的控制器操作的URL
                "type": "POST", // 或 "GET"，取決於您的需求
                "dataType": "json", // 預期返回的數據類型
                "dataSrc": function (json) {
                    //關閉執行中circle
                    $('.spinner').css('display', 'none');

                    return json.filter(function (data) {
                        //console.log('dataTable_hw_bin_list ajax response:');
                        //console.log(data);
                        return data;
                    });
                },
                "data": function (filterObject) {
                    //console.log('input_StartDate: ' + GetFilterValue("input_StartDate"));
                    filterObject.startDate = document.getElementById("input_StartDate").value;
                    filterObject.endDate = document.getElementById("input_EndDate").value;
                    filterObject.bd = $('#select_BD').val();
                    filterObject.tester = $('#select_Tester').val();
                    filterObject.lotId = $('#select_Lot').val();
                    filterObject.waferId = $('#select_Wafer').val();
                    filterObject.testMode = $('#select_Test_mode').val();
                    filterObject.site = $('#select_Site').val();
                    //console.log(filterObject);
                },
                "error": function (xhr, error, thrown) {
                    console.log("XHR:", xhr);
                    console.log("Error:", error);
                    console.log("Thrown:", thrown);

                    //關閉執行中circle
                    $('.spinner').css('display', 'none');
                }
            },
            columns: [
                {
                    data: "bd",
                    className: "text-center align-middle"
                },
                {
                    data: "tester",
                    className: "text-center align-middle"
                },
                {
                    data: "lotId",
                    className: "text-center align-middle"
                },
                {
                    data: "date",
                    className: "text-center align-middle"
                },
                {
                    data: "testMode",
                    className: "text-center align-middle"
                },
                //{
                //    data: "site",
                //    className: "text-center"
                //},
                {
                    data: "yield",
                    className: "text-center align-middle"
                },
                {
                    data: "moveIn",
                    className: "text-center align-middle"
                },
                {
                    data: "pass",
                    className: "text-center align-middle"
                },
                {
                    data: "openFail",
                    className: "text-center align-middle",
                },
                {
                    data: "shortFail",
                    className: "text-center align-middle"
                },
                {
                    data: "leakFail",
                    className: "text-center align-middle"
                },
                {
                    data: "functionFail",
                    className: "text-center align-middle"
                },
                {
                    data: "failPpm",
                    className: "text-center align-middle"
                },
                {
                    data: "openPpm",
                    className: "text-center align-middle"
                },
                {
                    data: "shortPpm",
                    className: "text-center align-middle"
                },
                {
                    data: "leakPpm",
                    className: "text-center align-middle"
                },
                {
                    data: "functionPpm",
                    className: "text-center align-middle"
                },
                {
                    data: "top1FailPpm",
                    className: "text-start align-middle"
                },
                {
                    data: "top2FailPpm",
                    className: "text-start align-middle"
                },
                {
                    data: "top3FailPpm",
                    className: "text-start align-middle"
                },
            ],

            "language": {
                "lengthMenu": "顯示 _MENU_ 筆資料",
                "sInfo": "目前有 _MAX_ 筆資料",
                "sInfoEmpty": "目前共有 0 筆紀錄",
                "sSearch": "搜尋:",
                "oPaginate": {
                    "sFirst": "首頁",
                    "sPrevious": "上一頁",
                    "sNext": "下一頁",
                    "sLast": "末頁"
                }
            },
        });


        // 监听 `xhr` 事件以获取 Ajax 响应
        $('#dataTable_hw_bin_list').on('xhr.dt', function (e, settings, json, xhr) {
            
            $('#dataTable_hw_bin_list').DataTable().columns().search('').draw();

            $('#select_hwBinDtBD').empty();
            $('#select_hwBinDtTester').empty();
            $('#select_hwBinDtLot').empty();
            $('#select_hwBinDtDate').empty();
            $('#select_hwBinDtTestMode').empty();
            //$('#select_hwBinDtSite').empty();
            $('#select_hwBinDtYield').empty();
            $('#select_hwBinDtMoveIn').empty();
            $('#select_hwBinDtPass').empty();
            $('#select_hwBinDtOpen').empty();
            $('#select_hwBinDtShort').empty();
            $('#select_hwBinDtLeak').empty();
            $('#select_hwBinDtFunction').empty();
            $('#select_hwBinDtFailPpm').empty();
            $('#select_hwBinDtOpenPpm').empty();
            $('#select_hwBinDtShortPpm').empty();
            $('#select_hwBinDtLeakPpm').empty();
            $('#select_hwBinDtFunctionPpm').empty();
            $('#select_hwBinDtTop1Fail').empty();
            $('#select_hwBinDtTop2Fail').empty();
            $('#select_hwBinDtTop3Fail').empty();

            for (var i = 0; i < json.length; i++) {
                //console.log(json[i].lotId);
                if ($('#select_hwBinDtBD').find('option[value="' + json[i].bd + '"]').length == 0) {
                    $('#select_hwBinDtBD').append($('<option>', {
                        value: json[i].bd,
                        text: json[i].bd
                    }));
                }
                if ($('#select_hwBinDtTester').find('option[value="' + json[i].tester + '"]').length == 0) {
                    $('#select_hwBinDtTester').append($('<option>', {
                        value: json[i].tester,
                        text: json[i].tester
                    }));
                }
                if ($('#select_hwBinDtLot').find('option[value="' + json[i].lotId + '"]').length == 0) {
                    $('#select_hwBinDtLot').append($('<option>', {
                        value: json[i].lotId,
                        text: json[i].lotId
                    }));
                }
                if ($('#select_hwBinDtDate').find('option[value="' + json[i].date + '"]').length == 0) {
                    $('#select_hwBinDtDate').append($('<option>', {
                        value: json[i].date,
                        text: json[i].date
                    }));
                }
                if ($('#select_hwBinDtTestMode').find('option[value="' + json[i].testMode + '"]').length == 0) {
                    $('#select_hwBinDtTestMode').append($('<option>', {
                        value: json[i].testMode,
                        text: json[i].testMode
                    }));
                }
                //if ($('#select_hwBinDtSite').find('option[value="' + json[i].site + '"]').length == 0) {
                //    $('#select_hwBinDtSite').append($('<option>', {
                //        value: json[i].site,
                //        text: json[i].site
                //    }));
                //}
                if ($('#select_hwBinDtYield').find('option[value="' + json[i].yield + '"]').length == 0) {
                    $('#select_hwBinDtYield').append($('<option>', {
                        value: json[i].yield,
                        text: json[i].yield
                    }));
                }
                if ($('#select_hwBinDtMoveIn').find('option[value="' + json[i].moveIn + '"]').length == 0) {
                    $('#select_hwBinDtMoveIn').append($('<option>', {
                        value: json[i].moveIn,
                        text: json[i].moveIn
                    }));
                }
                if ($('#select_hwBinDtPass').find('option[value="' + json[i].pass + '"]').length == 0) {
                    $('#select_hwBinDtPass').append($('<option>', {
                        value: json[i].pass,
                        text: json[i].pass
                    }));
                }
                if ($('#select_hwBinDtOpen').find('option[value="' + json[i].openFail + '"]').length == 0) {
                    $('#select_hwBinDtOpen').append($('<option>', {
                        value: json[i].openFail,
                        text: json[i].openFail
                    }));
                }
                if ($('#select_hwBinDtShort').find('option[value="' + json[i].shortFail + '"]').length == 0) {
                    $('#select_hwBinDtShort').append($('<option>', {
                        value: json[i].shortFail,
                        text: json[i].shortFail
                    }));
                }
                if ($('#select_hwBinDtLeak').find('option[value="' + json[i].leakFail + '"]').length == 0) {
                    $('#select_hwBinDtLeak').append($('<option>', {
                        value: json[i].leakFail,
                        text: json[i].leakFail
                    }));
                }
                if ($('#select_hwBinDtFunction').find('option[value="' + json[i].functionFail + '"]').length == 0) {
                    $('#select_hwBinDtFunction').append($('<option>', {
                        value: json[i].functionFail,
                        text: json[i].functionFail
                    }));
                }
                if ($('#select_hwBinDtFailPpm').find('option[value="' + json[i].failPpm + '"]').length == 0) {
                    $('#select_hwBinDtFailPpm').append($('<option>', {
                        value: json[i].failPpm,
                        text: json[i].failPpm
                    }));
                }
                if ($('#select_hwBinDtOpenPpm').find('option[value="' + json[i].openPpm + '"]').length == 0) {
                    $('#select_hwBinDtOpenPpm').append($('<option>', {
                        value: json[i].openPpm,
                        text: json[i].openPpm
                    }));
                }
                if ($('#select_hwBinDtShortPpm').find('option[value="' + json[i].shortPpm + '"]').length == 0) {
                    $('#select_hwBinDtShortPpm').append($('<option>', {
                        value: json[i].shortPpm,
                        text: json[i].shortPpm
                    }));
                }
                if ($('#select_hwBinDtLeakPpm').find('option[value="' + json[i].leakPpm + '"]').length == 0) {
                    $('#select_hwBinDtLeakPpm').append($('<option>', {
                        value: json[i].leakPpm,
                        text: json[i].leakPpm
                    }));
                }
                if ($('#select_hwBinDtFunctionPpm').find('option[value="' + json[i].functionPpm + '"]').length == 0) {
                    $('#select_hwBinDtFunctionPpm').append($('<option>', {
                        value: json[i].functionPpm,
                        text: json[i].functionPpm
                    }));
                }
                if ($('#select_hwBinDtTop1Fail').find('option[value="' + json[i].top1FailPpm + '"]').length == 0) {
                    $('#select_hwBinDtTop1Fail').append($('<option>', {
                        value: json[i].top1FailPpm.trim(),
                        text: json[i].top1FailPpm.trim()
                    }));
                }
                if ($('#select_hwBinDtTop2Fail').find('option[value="' + json[i].top2FailPpm + '"]').length == 0) {
                    $('#select_hwBinDtTop2Fail').append($('<option>', {
                        value: json[i].top2FailPpm.trim(),
                        text: json[i].top2FailPpm.trim()
                    }));
                }
                if ($('#select_hwBinDtTop3Fail').find('option[value="' + json[i].top3FailPpm + '"]').length == 0) {
                    $('#select_hwBinDtTop3Fail').append($('<option>', {
                        value: json[i].top3FailPpm.trim(),
                        text: json[i].top3FailPpm.trim()
                    }));
                }

                initializeHwBinDtMultiselect();

            }
        });

    }

    function onClickStart_HwBinListTable() {

        $('#dataTable_hw_bin_list').DataTable().ajax.reload();

    }

    function escapeRegExp(string) {
        return string.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
    }

    function onChangeHwBinDtSelect(obj) {
        //console.log(obj.name);
        //console.log(obj.id);
        var splitStr = obj.name.split('_');
        var colIdx = splitStr[splitStr.length - 1];
        //console.log('colIdx:'+colIdx);

        var selectedValues = $(obj).val();
        var table = $('#dataTable_hw_bin_list').DataTable();
        //console.log(selectedValues);
        var escapedValues = selectedValues.map(escapeRegExp);
        if (escapedValues.length > 0) {
            table.column(colIdx).search('^(' + escapedValues.join('|') + ')$', true, false).draw();
        } else {
            table.column(colIdx).search('').draw();
        }


    }

    function initializeHwBinDtMultiselect() {

        $('#select_hwBinDtBD').multiselect('destroy');
        $('#select_hwBinDtBD').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });

        $('#select_hwBinDtTester').multiselect('destroy');
        $('#select_hwBinDtTester').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });
        $('#select_hwBinDtLot').multiselect('destroy');
        $('#select_hwBinDtLot').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });
        $('#select_hwBinDtDate').multiselect('destroy');
        $('#select_hwBinDtDate').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });
        $('#select_hwBinDtTestMode').multiselect('destroy');
        $('#select_hwBinDtTestMode').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });
        //$('#select_hwBinDtSite').multiselect('destroy');
        //$('#select_hwBinDtSite').multiselect({
        //    enableFiltering: true,
        //    includeSelectAllOption: true
        //});
        $('#select_hwBinDtYield').multiselect('destroy');
        $('#select_hwBinDtYield').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });
        $('#select_hwBinDtMoveIn').multiselect('destroy');
        $('#select_hwBinDtMoveIn').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });
        $('#select_hwBinDtPass').multiselect('destroy');
        $('#select_hwBinDtPass').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });
        $('#select_hwBinDtOpen').multiselect('destroy');
        $('#select_hwBinDtOpen').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });
        $('#select_hwBinDtShort').multiselect('destroy');
        $('#select_hwBinDtShort').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });
        $('#select_hwBinDtLeak').multiselect('destroy');
        $('#select_hwBinDtLeak').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });
        $('#select_hwBinDtFunction').multiselect('destroy');
        $('#select_hwBinDtFunction').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });
        $('#select_hwBinDtFailPpm').multiselect('destroy');
        $('#select_hwBinDtFailPpm').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });
        $('#select_hwBinDtOpenPpm').multiselect('destroy');
        $('#select_hwBinDtOpenPpm').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });
        $('#select_hwBinDtShortPpm').multiselect('destroy');
        $('#select_hwBinDtShortPpm').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });
        $('#select_hwBinDtLeakPpm').multiselect('destroy');
        $('#select_hwBinDtLeakPpm').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });
        $('#select_hwBinDtFunctionPpm').multiselect('destroy');
        $('#select_hwBinDtFunctionPpm').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });
        $('#select_hwBinDtTop1Fail').multiselect('destroy');
        $('#select_hwBinDtTop1Fail').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });
        $('#select_hwBinDtTop2Fail').multiselect('destroy');
        $('#select_hwBinDtTop2Fail').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });
        $('#select_hwBinDtTop3Fail').multiselect('destroy');
        $('#select_hwBinDtTop3Fail').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true,
            nonSelectedText: '',
            dropRight: true
        });

    }



</script>
