
@{
    ViewBag.Title = "Function";

    DateTime start_time = DateTime.Now.Date.AddDays(-6);
    DateTime end_time = DateTime.Now.Date.AddDays(1).AddSeconds(-1);

    ViewBag.StartDate = start_time.ToString("yyyy-MM-dd HH:mm:ss");
    ViewBag.EndDate = end_time.ToString("yyyy-MM-dd HH:mm:ss");
}

<!-- Page Heading -->
@*<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>*@
<div class="card shadow mb-3 p-3">
    <!-- Topbar Search -->
    <form class=" d-sm-inline-block form-inline " name="search_form" method="post">
        <div class="row">

            <div class="col-auto mb-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Function</span>
                    </div>
                    <select id="select_Function" name="select_Function" class=" form-control" onchange="onChangeFunction(this)">
                        <option>Histogram - Combine</option>
                        <option>Bin code list - HW bin list</option>
                        <option>HW FAIL PPM</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row mt-3">

            <div class="col-auto mb-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Date Start</span>
                    </div>
                    <input id="input_StartDate" name="input_StartDate" type="datetime-local" class="form-control bg-light border-1 small" placeholder="yyyy-MM-dd HH:mm:ss" value="@ViewBag.StartDate">
                </div>
            </div>

            <div class="col-auto mb-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Date End</span>
                    </div>
                    <input id="input_EndDate" name="input_EndDate" type="datetime-local" class="form-control bg-light border-1 small" placeholder="yyyy-MM-dd HH:mm:ss" value="@ViewBag.EndDate">
                </div>
            </div>

        </div>

        <div class="row mt-3">

            <div class="col-4 mb-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">BD</span>
                    </div>
                    <select  id="select_BD" name="select_BD" class=" form-control">
                        <option value="1">test 1</option>
                        <option value="2">test 2</option>
                        <option>test 3</option>
                        <option>test 4</option>
                        <option>test 5</option>
                        <option>test 6</option>
                        <option>test 7</option>
                        <option>test 8</option>
                        <option>test 9</option>
                    </select>
                </div>
            </div>

            <div class="col-4 mb-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Tester</span>
                    </div>
                    <select multiple="multiple" id="select_Tester" name="select_Tester" class=" form-control">

                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>

            <div class="col-4 mb-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Lot ID</span>
                    </div>
                    <select multiple="multiple" id="select_Lot" name="select_Lot" class=" form-control">

                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row mt-3">

            <div class="col-4 mb-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Wafer ID</span>
                    </div>
                    <select multiple="multiple" id="select_Wafer" name="select_Wafer" class=" form-control">

                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>

            <div class="col-4 mb-1">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Test mode</span>
                    </div>
                    <select multiple="multiple" id="select_Test_mode" name="select_Test_mode" class=" form-control">

                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>

            <div class="col-4 mb-1">
                <div id="select_Test_item_div" class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Test item</span>
                    </div>
                    <select  id="select_Test_item" name="select_Test_item" class=" form-control">

                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="row mt-3">

            <div class="col-4 mb-1" style="display:none">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Site</span>
                    </div>
                    <select multiple="multiple" id="select_Site" name="select_Site" class=" form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>

            <div class="col-auto input-group  mb-1">
                <button class="btn btn-secondary" type="button" onclick="">
                    <span class="text">Load Lot File</span>
                </button>
            </div>

            <div class="col-auto input-group  mb-1">
                <button class="btn btn-primary" type="submit" onclick="">
                    <span class="text">Start</span>
                </button>
            </div>

        </div>

    </form>

</div>

<div style="height:800px">
</div>


<script>
    var selectBDValues = [];

    window.addEventListener('DOMContentLoaded', event => {
   
        initializeMultiselect();
        
    });

    function initializeMultiselect() {
        var selectedValue = document.getElementById('select_Function').value;
        //console.log(`functionName:${selectedValue}`);

        var selectDB_id = 'select_BD';
        var selectTest_item_id = 'select_Test_item';

        // 變更 TP 、Test item 單多選
        if (selectedValue == 'Histogram - Combine') {
            //console.log(`selectedValue:${selectedValue}`);

            // TP 、Test item 皆單選
            $('#' + selectDB_id).multiselect('destroy');
            document.getElementById(selectDB_id).removeAttribute('multiple');
            $('#' + selectDB_id).multiselect({
                enableFiltering: true
            });

            $('#select_Test_item_div').show();
            $('#' + selectTest_item_id).multiselect('destroy');
            document.getElementById(selectTest_item_id).removeAttribute('multiple');
            $('#' + selectTest_item_id).multiselect({
                enableFiltering: true
            });

        } else if (selectedValue == 'Bin code list - HW bin list') {
            // TP多選 、Test item 隱藏
            $('#' + selectDB_id).multiselect('destroy');
            document.getElementById(selectDB_id).setAttribute('multiple', 'multiple');
            $('#' + selectDB_id).multiselect({
                enableFiltering: true,
                includeSelectAllOption: true
            });

            $('#select_Test_item_div').hide();

        } else if (selectedValue == 'HW FAIL PPM') {
            // TP 、Test item 皆多選
            $('#' + selectDB_id).multiselect('destroy');
            document.getElementById(selectDB_id).setAttribute('multiple', 'multiple');
            $('#' + selectDB_id).multiselect({
                enableFiltering: true,
                includeSelectAllOption: true
            });

            $('#select_Test_item_div').show();
            $('#' + selectTest_item_id).multiselect('destroy');
            document.getElementById(selectTest_item_id).setAttribute('multiple', 'multiple');
            $('#' + selectTest_item_id).multiselect({
                enableFiltering: true,
                includeSelectAllOption: true
            });

        } else {
            $('#' + selectDB_id).multiselect('destroy');
            selectElementBD.setAttribute('multiple', 'multiple');
            $('#' + selectDB_id).multiselect({
                enableFiltering: true,
                includeSelectAllOption: true
            });

            $('#select_Test_item_div').show();
            $('#' + selectTest_item_id).multiselect('destroy');
            document.getElementById(selectTest_item_id).setAttribute('multiple', 'multiple');
            $('#' + selectTest_item_id).multiselect({
                enableFiltering: true,
                includeSelectAllOption: true
            });

        }

        //$('#select_BD').multiselect({
        //    enableFiltering: true,
        //    includeSelectAllOption: true
        //});
        $('#select_Tester').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true
        });

        $('#select_Lot').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true
        });
        $('#select_Wafer').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true
        });
        $('#select_Test_mode').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true
        });
        //$('#select_Test_item').multiselect({
        //    enableFiltering: true,
        //    includeSelectAllOption: true
        //});
        $('#select_Site').multiselect({
            enableFiltering: true,
            includeSelectAllOption: true
        });

    }


    function onChangeFunction(obj) {
        //var selectedOption = obj.options[obj.selectedIndex].text;
        //var selectedValue = obj.value;
        //console.log('Selected: ' + selectedOption + ' (Value: ' + selectedValue + ')');
        initializeMultiselect();


    }

    function onClickStart() {

    }

</script>