@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    CTRD 5940<br />
    <abbr title="Phone">Phone:</abbr>
    #84562
</address>

<address>
    <strong>Support:</strong>   
    <a href="mailto:Support@example.com">Kerwin_Wu@aseglobal.com</a>
    <a href="mailto:Support@example.com" class="ml-3">Isaac_Su@aseglobal.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>